* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --itemcarousel1-transfrom: translate(-100%, -5%) scale(1);
  --itemcarousel1-filter: blur(30px);
  --itemcarousel1-zIndex: 11;
  --itemcarousel1-opacity: 0;

  --itemcarousel2-transfrom: translate(0, 0);
  --itemcarousel2-filter: blur(0);
  --itemcarousel2-zIndex: 10;
  --itemcarousel2-opacity: 1;

  --itemcarousel3-transfrom: translate(30%, 10%) scale(0.8);
  --itemcarousel3-filter: blur(10px);
  --itemcarousel3-zIndex: 9;
  --itemcarousel3-opacity: 1;

  --itemcarousel4-transfrom: translate(70%, 20%) scale(0.5);
  --itemcarousel4-filter: blur(30px);
  --itemcarousel4-zIndex: 1;
  --itemcarousel4-opacity: 1;

  --itemcarousel5-transfrom: translate(100%, 30%) scale(0.3);
  --itemcarousel5-filter: blur(40px);
  --itemcarousel5-zIndex: 7;
  --itemcarousel5-opacity: 0;
}

.homemaincon {
  background-color: rgb(255, 255, 255);
}

.bg {
  width: 100%;
  height: auto;
  min-height: 110vh;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    url("../../assets/bghome.png");
  background-size: cover;
  background-repeat: no-repeat;
  image-resolution: from-image;
}

.header h1 {
  color: #000000;
  font-family: "Feeling Passionate", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  font-size: 2.8rem;
  top: 35%;
  width: 50%;
  margin: 0 0 0 8rem;
  position: absolute;
}

.header h2 {
  color: #000000;
  font-family: "Merel Regular", sans-serif;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  top: 47%;
  width: 32%;
  position: absolute;
  margin: 0 0 0 8.5rem;
}

.readmorebtn button {
  position: absolute;
  top: 65%;
  left: 8.4rem;
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
  font-family: "Merel Regular", sans-serif;
  text-align: left;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease;
  cursor: pointer;
  border: none;
  background-color: #b41f77;
  z-index: 20;
}

.readmorebtn button:hover {
  background-color: transparent;
  border: 2px solid #b41f77;
  color: #b41f77;
}

/*CAROUSEL*/
.carousel {
  height: 900px;
  overflow: hidden;
  position: relative;
  margin-top: -40px;
}

.carousel .list {
  position: absolute;
  top: 0;
  width: 1140px;
  max-width: 90%;
  left: 40%;
  transform: translateX(-50px);
  height: 90%;
}

.carousel .list .itemcarousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
}

.carousel .list .itemcarousel img {
  width: 85%;
  position: absolute;
  height: auto;
  right: 0;
  top: 0%;
  transform: translateY(5%);
}

/*FLOWER 12*/
.carousel .list .itemcarousel:nth-child(2) {
  transform: var(--itemcarousel2-transfrom);
  filter: var(--itemcarousel2-filter);
  z-index: var(--itemcarousel2-zIndex);
  opacity: var(--itemcarousel2-opacity);
}

.carousel .list .itemcarousel:nth-child(1) {
  transform: var(--itemcarousel1-transfrom);
  filter: var(--itemcarousel1-filter);
  z-index: var(--itemcarousel1-zIndex);
  opacity: var(--itemcarousel1-opacity);
}

.carousel .list .itemcarousel:nth-child(3) {
  transform: var(--itemcarousel3-transfrom);
  filter: var(--itemcarousel3-filter);
  z-index: var(--itemcarousel3-zIndex);
  opacity: var(--itemcarousel3-opacity);
}

.carousel .list .itemcarousel:nth-child(4) {
  transform: var(--itemcarousel4-transfrom);
  filter: var(--itemcarousel4-filter);
  z-index: var(--itemcarousel4-zIndex);
  opacity: var(--itemcarousel4-opacity);
}

.carousel .list .itemcarousel:nth-child(5) {
  transform: var(--itemcarousel5-transfrom);
  filter: var(--itemcarousel5-filter);
  z-index: var(--itemcarousel5-zIndex);
  opacity: var(--itemcarousel5-opacity);
}

/*next effect*/
.carousel.next .list .itemcarousel:nth-child(1) {
  animation: positionitemcarousel2 0.5s ease-in-out 1 forwards;
}

@keyframes positionitemcarousel2 {
  from {
    transform: var(--itemcarousel2-transfrom);
    filter: var(--itemcarousel2-filter);
    z-index: var(--itemcarousel2-zIndex);
    opacity: var(--itemcarousel2-opacity);
  }
}

.carousel.next .list .itemcarousel:nth-child(2) {
  animation: positionitemcarousel3 0.7s ease-in-out 1 forwards;
}

@keyframes positionitemcarousel3 {
  from {
    transform: var(--itemcarousel3-transfrom);
    filter: var(--itemcarousel3-filter);
    z-index: var(--itemcarousel3-zIndex);
    opacity: var(--itemcarousel3-opacity);
  }
}

.carousel.next .list .itemcarousel:nth-child(3) {
  animation: positionitemcarousel4 0.9s ease-in-out 1 forwards;
}

@keyframes positionitemcarousel4 {
  from {
    transform: var(--itemcarousel4-transfrom);
    filter: var(--itemcarousel4-filter);
    z-index: var(--itemcarousel4-zIndex);
    opacity: var(--itemcarousel4-opacity);
  }
}

.carousel.next .list .itemcarousel:nth-child(4) {
  animation: positionitemcarousel5 1.1s ease-in-out 1 forwards;
}

@keyframes positionitemcarousel5 {
  from {
    transform: var(--itemcarousel5-transfrom);
    filter: var(--itemcarousel5-filter);
    z-index: var(--itemcarousel5-zIndex);
    opacity: var(--itemcarousel5-opacity);
  }
}

/*prev effect*/
.carousel.prev .list .itemcarousel:nth-child(2) {
  animation: positionitemcarousel1 0.5s ease-in-out 1 forwards;
}

.carousel.prev .list .itemcarousel:nth-child(3) {
  animation: positionitemcarousel2 0.7s ease-in-out 1 forwards;
}

.carousel.prev .list .itemcarousel:nth-child(4) {
  animation: positionitemcarousel3 0.9s ease-in-out 1 forwards;
}

.carousel.prev .list .itemcarousel:nth-child(5) {
  animation: positionitemcarousel4 1.1s ease-in-out 1 forwards;
}

@keyframes positionitemcarousel1 {
  from {
    transform: var(--itemcarousel1-transfrom);
    filter: var(--itemcarousel1-filter);
    z-index: var(--itemcarousel1-zIndex);
    opacity: var(--itemcarousel1-opacity);
  }
}

/*arrows*/
.arrows {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  justify-content: space-between;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.arrows #next,
.arrows #prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-family: "Merel Regular", sans-serif;
  font-size: 1.8rem;
  background-color: #ffffff;
  color: #b41f77;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 1px solid #b41f77;
}

@media (max-width: 768px) {
  .bg {
    height: 500px;
    min-height: 100vh;
  }
  .header h1 {
    font-size: 2rem;
    width: 50%;
    margin: 0 0 0 3rem;
    top: 35%;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    padding: 10px;
    border: 1px solid #b41f77;
  }

  .header h2 {
    font-size: 0.9rem;
    width: 50%;
    margin: 0 0 0 3rem;
    top: 45.65%;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    padding: 10px;
    border: 1px solid #b41f77;
    z-index: 20;
  }

  .readmorebtn button {
    top: 67%;
    left: 3rem;
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
  }

  .carousel {
    height: 650px;
    margin-top: 60px;
  }

  .carousel .list {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
  }

  .carousel .list .itemcarousel {
    width: 100%;
  }

  .carousel .list .itemcarousel img {
    width: 100%;
    transform: translateY(0%);
  }

  .arrows {
    bottom: 1.5rem;
    max-width: 95%;
  }

  .arrows #next,
  .arrows #prev {
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .bg {
    height: 500px;
    min-height: 90vh;
  }

  .header h1 {
    font-size: 1rem;
    width: 70%;
    margin: 0 0 0 3rem;
    position: absolute;
    top: 35%;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    padding: 10px;
    border: 1px solid #b41f77;
  }

  .header h2 {
    font-size: 0.7rem;
    width: 70%;
    margin: 0 0 0 3rem;
    position: absolute;
    top: 41%;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    padding: 10px;
    border: 1px solid #b41f77;
  }

  .readmorebtn button {
    position: absolute;
    top: 59%;
    left: 3rem;
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
    z-index: 20;
  }

  .carousel {
    height: 650px;
    margin-top: 90px;
  }

  .carousel .list {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
  }

  .carousel .list .itemcarousel {
    width: 100%;
  }

  .carousel .list .itemcarousel img {
    width: 100%;
  }

  .arrows {
    bottom: 1.5rem;
    max-width: 95%;
  }

  .arrows #next,
  .arrows #prev {
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
  }
}
