@font-face {
  font-family: "Feeling Passionate";
  src: url("./FeelingPassionate.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merel Bold";
  src: url("./merel-bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merel Regular";
  src: url("./merel.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Merel Medium";
  src: url("./merel-medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}