.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #FBE7F3;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.192);
    border: 1px solid #b41f77;
}

.logo {
    width: 70px;
}

.maria {
    width: 50px;
    border-radius: 50%;
    border: 1px solid #b41f77;
}